[submodule "starter-project"]
	path = starter-project
	url = https://github.com/tomitribe/tomee-microprofile-jwt-starter-project.git
[submodule "fullstack-backbonejs"]
	path = fullstack-backbonejs
	url = https://github.com/tomitribe/microservice-with-jwt-and-microprofile.git

